@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

:root{
    --blue-dark-color:#1E4364;
    --blue-medium-color:#2970CA;
    --blue-light:#D5E3FF;
    --green-light-color:#C4EDB2;
    --coral-color:#FAC0BD;
    --dark-color:#191919;
    --white-color:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
    background-image: url(../../assets/img/aliados/fondo.png);
    background-position: left;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

header{
  grid-column: 1/5;
  background-color: var(--blue-dark-color);
  color: var(--white-color);
}

main{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.banner{
  grid-column: 1/5;
  cursor: pointer;
}

.banner img{
  max-width: 100%;
  cursor: pointer;
}

.titleAllies{

  margin-top: 10px;
  grid-column: 1/5;
  font-size: 0.5em;
  margin: 10px ;
}

.cardsProducts{  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 10px;
  grid-column: 1/5;

  margin: 10px;
}

.cardAccessories{
  grid-column: 1/2;
  margin-left: 10px;
  margin-top: 10px;
}

.cardFood{
  grid-column: 3/4;
  margin-top: 10px;
  margin-right: 10px;
}

.cardToys{
  grid-column: 1/2;
  margin-left: 10px;
  margin-top: 10px;
}


.cardCare{
  grid-column: 3/4;
  margin-top: 10px;
  margin-right: 10px;
}

.card{
  position: relative;
  width: 140px;
  height: 250px;
  background: var(--blue-dark-color);
  border-radius: 20px;
  overflow: hidden;
}

.card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var();
  clip-path: circle(15px at 80% 20%);
  transition: 0.2s ease-in-out;
}

.card:hover:before{
  clip-path: circle(100px at 80% -20%);
}

.card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}


.card .imgBx img{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  width: 170px;
}

.card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card:hover .contentBx{
  height: 100px;
}


.card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card .contentBx .size, .container-2 .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 1;
}

.card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card .contentBx .size h3, .container-2 .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;

}



.contentBx a{
  display: inline-block;
  padding: 1px;
  background: var(--blue-medium-color);
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;

  font-size: 15px;
  color: rgb(255, 255, 255);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
}


.card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.20s; 
}

.coupon{
  grid-column: 1/5;
  margin: 10px;
  cursor: pointer;
}

.coupon img{
  width: 100%;
  max-width: 100%;
}


.title-Allied-Brands{
  grid-column: 1/5;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
}

.title-Allied-Brands h1{
  text-align: center;
}

.huellita{
  grid-column: 1/2;
  width: 30%;
  margin-left: 50px;
  margin-top: 20px;
}

.marcas {
  grid-column: 2/4;
}


.huellita2{
  grid-column: 4/5;
  width: 30%;
  margin-top: 20px;
}

.alliedBrands{
  grid-column: 1/5;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-image: url(aliados/huellita3.svg);
  background-position: center;
  background-size:800px;
  background-repeat: no-repeat;
}


.ar{
  grid-column: 1/2;
  margin: 10px;
}

.prueba{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.button{
  text-align: center;
  grid-column: 1/5;
}

 .button a{
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}


.button h4{
  background-color: #1E4364;
  padding: 5px;
  border-radius: 10px;
}



.ar2{
  grid-column: 3/4;
  margin: 10px;

}


.ar3{
  grid-column: 1/2;
  margin: 10px;
}


.ar4{
  grid-column: 3/4;
  margin: 10px;
}

.ar5{
  grid-column: 1/2;
  margin: 10px;
}

.ar6{
  grid-column: 3/4;
  margin: 10px;
}

.ar7{
  grid-column: 1/2;
  margin: 10px;
}

.ar8{
  grid-column: 3/4;
  margin: 10px;
}




.content a{
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

.content p {
  text-align: center;
  color: #000000;
  font-weight: 100;
  font-size: 15px;
  margin-top: 10px;
}

.aliados:hover .face.face2{
  transform: translateY(0);
}

.aliados .face.face2 {
  position: relative;
  background: rgba(141, 141, 252, 0.925);
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.521);
  transform: translateY(-100px);
}

.icono {
  width: 0%;
}

 .aliados:nth-child(1) .icon {
  background: #f3f3f300;
}

 .aliados:nth-child(2) .icon {
  background: #6eadd4;
}

 .aliados:nth-child(3) .icon {
  background: #4aada9;
}



 .aliados .face {
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

 .aliados .face.face1 {
  position: relative;
  background: rgb(207, 214, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

 .aliados:hover .face.face1{
  background: var(--blue-dark-color);
  transform: translateY(0px);
}

.aliados .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.aliados:hover .face.face1 .content {
  opacity: 1;
}
.aliados .face.face1 .content img{
  max-width: 100%;
}

.footer{
  grid-column: 1/5;
}


.footer{
  grid-column: 1/5;
  background-color: #1E4364;
  color:var(--white-color);
}




@media (min-width: 768px) {
  .titleAllies{
  grid-column: 1/5;
  font-size: 0.9em;
  margin-top: 30px;

}

.cardsProducts{  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 30px;
  column-gap: 10px;

}

.cardAccessories{
  grid-column: 1/2;
  margin-right: 0px;
}

.cardFood{
  grid-column: 2/3;
  margin-right: 0px;
}

.cardToys{
  grid-column: 3/4;
  margin-right: 0px;
}


.cardCare{
  grid-column: 4/5;
  margin-right: 0px;

}

.coupon img{
  max-width: 100%;
}

.coupon{
  margin-top: 20px;
}

.title-Allied-Brands{
  grid-column: 1/5;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  margin-top: 50px;
}

.title-Allied-Brands h1{
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  margin-top: 40px;
}

.huellita{
  grid-column: 1/2;
  width: 50%;
  margin-left: 50px;
}

.marcas {
  grid-column: 2/4;

}


.huellita2{
  grid-column: 4/5;
  width: 50%;
  margin-top: 20px;
  margin-left: 50px;
}

.alliedBrands{
  grid-column: 1/5;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}


.ar{
  grid-column: 1/2;
  margin: 10px;
}

.ar2{
  grid-column: 2/3;
  margin: 10px;
}


.ar3{
  grid-column: 3/4;
  margin: 10px;
}


.ar4{
  grid-column: 4/5;
  margin: 10px;
}

.ar5{
  grid-column: 1/2;
  margin: 10px;
}

.ar6{
  grid-column: 2/3;
  margin: 10px;
}

.ar7{
  grid-column: 3/4;
  margin: 10px;
}

.ar8{
  grid-column: 4/5;
  margin: 10px;
}

.card{
  width: 160px;
  height: 270px;
}


.card .contentBx h2{
  letter-spacing: 0px;
  color: #fff;
  font-size: 30px;
}

.contentBx a{
  background-color: #4980b1;
  font-size: 20px;
}


.card .contentBx{
  bottom: 50px;
  width: 90%;
  height: 50px;
}

.card .imgBx img{
  top: 10%;
  left: 60%;
  width: 198px;
}

.content h3{
  margin-bottom: 10px;
}


.content p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.aliados .face {
  width: 165px;
  height: 200px;
  transition: 0.5s;
}

.alliedBrands{
  grid-column: 1/5;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-image: url(aliados/huellita5.svg);
  background-position: center;
  background-size:1500px;
  background-repeat: no-repeat;
}



}

@media (min-width: 1024px){

  .alliedBrands{
  grid-column: 1/5;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-image: url(aliados/huellita5.svg);
  background-position: center;
  background-size:1500px;
  background-repeat: no-repeat;
}

.button{
  text-align: center;
  grid-column: 1/3;
  padding: 10px;
  background-color: #2970CA;
}

}
